body {
    margin: 0;
}

.banner {
    background-color: aqua;
}
.nav {
    background-color: black;
}
.primary {
    background-color: peru;
}
.shop-content {
    background-color: yellowgreen;
}
.secondary {
    background-color: palegreen;
}
.footer {
    background-color: teal;     
}