body {
    margin: 0;
    scroll-behavior: smooth;
    ul {
        margin: 0;
    }
}

.banner {
    background: linear-gradient(aqua, white);
}
.navbar {
    background-color: black;
    padding: 0.5em 0;
    @include nav-display;
}
.navbar-is-success {
    background-color: violet;
    padding: 1.5em 0;
    @include nav-display;
}
.primary {
    background-color: peru;
}
.shop-content {
    background-color: yellowgreen;
}
.secondary {
    background-color: palegreen;
}
.footer {
    background-color: teal;     
}